{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Document</title>
</head>
<body style="background-color: #fbf9ec;">
    <div class="w-full h-screen flex items-center justify-center flex-col">
        
        <img src="https://tse2.mm.bing.net/th?id=OIG1.GLBH2HBZFMHHeyyztDvJ&pid=ImgGn" style="width: 24rem; height: auto;" alt="">
        <p class="text-3xl font-bold p-2">Sorry Page Not Found :)</p>
    </div>
</body>
</html>