{% extends 'home.html' %}
{% block main %}
<div class="w-full">
    <h1 class="text-3xl font-bold pb-3">Branch Log</h1>
    <p class="text-gray-500 text-[13px] ">Branch History Logs</p>

    <div class="w-full overflow-x-auto">
        <table class="min-w-full table-auto ">
            <thead class="bg-slate-900 text-white">
                <tr class=" text-left">
                    <th class="px-4 py-2 border ">Date</th>
                    <th class="px-4 py-2 border ">By User</th>
                    <th class="px-4 py-2 border ">Branch name</th>
                    <th class="px-4 py-2 border ">Location</th>
                    <th class="px-4 py-2 border ">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in histo|slice:":10" %}
                    <tr class="hover:bg-gray-50">
                        <td class="px-4 py-2 border ">{{ record.history_date }}</td>
                        <td class="px-4 py-2 border ">{{ record.history_user }}</td>
                        <td class="px-4 py-2 border ">{{ record.branch_name }}</td>
                        <td class="px-4 py-2 border ">{{ record.location }}</td>
                        <td class="px-4 py-2 border ">
                            {% if record.history_type == '+' %}
                                Created
                            {% elif record.history_type == '~' %}
                                Updated
                            {% elif record.history_type == '-' %}
                                Deleted
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="px-4 py-2 text-center text-gray-500">No history available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}